tbody > tr > td > *, h1{
	margin: auto;
	text-align: center;
	margin: 7px;
}
table{
	width: 95%;
	margin-bottom: 20px;
}

h1{
	margin-top: 20px;
}

.progress {
	width: 100%;
}

td {
	width: 25%;
	text-align: center;
}